

.navbar {
  margin-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .searchBox {
    display: flex;
    align-items: center;
  }
  
  .searchInput {
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
  }
  
  .postsContainer {
    padding: 1rem;
  }
  
  .postItem {
    background-color: #ffffff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 64px;
    background-color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .logo {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0.8px;
    color: #fff;
    text-transform: uppercase;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .nav-list li {
    margin-right: 32px;
  }
  
  .nav-button {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  