
.container {
  background-image: url('./Images/newpost/posts/allposts.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.postsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

.postItem {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  text-decoration: none;
  max-width: 800px;
  width: 90%;
}

.postItem:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.postItem a {
  text-decoration: none;
  color: inherit;
}

.searchBox {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.searchInput {
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  width: 100%;
  max-width: 400px;
}
